name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update manifest version
        run: |
          yq -i '.version="${{ github.event.release.tag_name }}"' custom_components/neopool/manifest.json

      - name: Create ZIP archive
        run: |
          cd custom_components
          zip -r ../neopool.zip neopool/

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: neopool.zip
